{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Boards</title>

    <link rel="stylesheet" href="{% static 'demo.css' %}">
</head>

<body>
    <div class="container">
        <h1>Your Boards</h1>
        {% if boards %}
        <ul class="list-group">
            {% for board in boards %}
            <li class="list-group-item">
                <h3>{{ board.title }}</h3>
                <p>{{ board.description }}</p>
                <a href="{% url 'board_view' board.id %}" class="btn btn-primary">View Board</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You have no boards yet. Start by creating one!</p>
        {% endif %}
    </div>
</body>

</html>
{% endblock content %}
