{% extends 'base.html' %}

{% block content %}
<h1 style="margin: 10px">Witaj na stronie głównej!</h1>
<p style="margin: 10px">
Zarejestruj się lub zaloguj, aby korzystać z aplikacji. <br>
Po zalogowaniu w zakładce "my boards" znajdziesz listę swoich tablic. <br>
Jeżeli nie masz jeszcze żadnej tablicy, możesz ją utworzyć lub dołączyć do istniejącej.<br>
Możesz dynamicznie zmieniać kolejność tablic jak i je usuwać. <br>
Na tabicy możesz dodawać, edytować i usuwać widgety. <br>
</p>
{% endblock content %}
