{% for board in boards %}

{% if forloop.last %}
<div hx-get="{% url 'board-list' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend"
    hx-target="this">
    {% else %}
    <div>
        {% endif %}

        <input type="hidden" name="board_order" value="{{ board.pk }}" />
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a hx-get="{% url 'detail' board.pk %}" hx-target="#board-list" hx-push-url="/boards/{{ board.board.pk }}"
                hx-swap="innerHTML">
                #{{board.order}} {{ board.board.title }}
            </a>
            <span class="badge badge-danger badge-pill" style="cursor: pointer;"
                hx-delete="{% url 'delete-board' board.pk %}" hx-target="#board-list"
                hx-confirm="Are you sure you wish to delete?" hx-swap="innerHTML">X</span>
        </li>
    </div>
    {% endfor %}
