<div class="d-flex justify-content-between align-items-center">
    <p class="lead ml-0">My Boards</p>
    <form hx-post="{% url 'add-board' %}" hx-target='#film-list' class="d-flex align-items-center">
        {% csrf_token %}
        <input type="text" id="boardtitle-input" name="boardtitle" class="form-control-sm mr-2"
            placeholder="Enter a board title" />
        <button type="submit" class="btn btn-success btn-sm">Add Board</button>
    </form>
</div>
<hr />

<div class="d-flex justify-content-between">

    <section class="col-6">

        {% if messages %}
        <ul class="messages" hx-get="{% url 'clear' %}" hx-trigger="load delay:3s">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if boards %}

        {% csrf_token %}
        <form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target="#board-list">
            <div class="htmx-indicator">Updating...</div>
            {% include 'partials/board-list-elements.html' %}
        </form>
        {% else %}
        <p>You do not have any boards in your list</p>
        {% endif %}

    </section>

    <section class="col-4 offset-1">
        {% include 'partials/search.html' %}
    </section>
</div>

{% if request.method == 'POST' %}
<input type="text" hx-swap-oob="true" id="boardtitle-input" name="boardtitle" class="form-control-sm mr-2"
    placeholder="Enter a board title" />
{% endif %}
